#back{
    font-size: 34px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.preview{
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    border: 2px outset;
    padding: 15px;
    margin-right: 400px;
}
form{
    margin-left: 50px;
}
#head{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rad{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
#sixfive{
    margin-left: 90px;
    margin-bottom: 17px;
}
#sevenfive{
    margin-left: 154px;
}
#subm{
    border: 2px outset black;
    padding: 3px;
    margin-right: 270px;
    margin-top: 12px;
    font-size: 20px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
}

    .img-zoom{
      width: 400px;
      height: 370px;
      overflow: hidden;
      position: relative;
      border: 2px solid #ccc;
    }

    #productImage{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.2s ease;
      transform: scale(1);
    }

    .img-zoom:hover #productImage {
      transform: scale(2); /* zoom level */
    }